#bgvideo {
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%
  min-height: 100%
}


#content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 100%;
}

html {
    cursor: url(star.ani), auto;
}
